#wrapper {width:900px; margin:0px auto; }

#logo  {font-family:Freehand521 BT,verdana, Arial Black; 
 background-color:Blue; Padding: 15px 0 0 0px; width:100%; margin:0px;
}


#bottom {background-image:linear-gradient(#eeeeee,orange); color:#5B5B5B; }


font-family:<span style="font-family: 'Freehand521 BT', 'Bookman Old Style', 'Arial Black'; font-weight: normal; font-style: normal; text-decoration: none; font-size: 24pt;"></span>
