{% extends "base.html" %}

{% block content %}
<h2>Do Chore</h2>

    <form method="post">
      <label>
        <div>Enter Chore Name</div>
        <input type="text" name="chore_name" value="{{chore_name}}">
      </label>
      <br>
      <br>
      <br>
      <label>
        <div>Enter Your Name</div>
        <input type="text" name="doer_name" value="{{doer_name}}">
      </label>
      <br>
      <br>
      <br>
      
      <br>
      <br>
      <div class="error">{{error}}</div>
      <br>
      <input type="submit" value="Complete Chore">
    </form>
    <br>
    <a href="/">Cancel</a>

{% endblock %}